accelerate
aiohttp
aiohttp-retry
aiosignal
annotated-types
anyio
attrs
backoff
bcrypt
bitsandbytes
build
cachetools
certifi
charset-normalizer
chromadb
click
colorama
coloredlogs
dataclasses-json
distro
durationpy
einops
fastapi
filelock
filetype
flatbuffers
frozenlist
fsspec
google-generativeai
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
grpcio
grpcio-status
h11
h2
httpcore
httplib2
httpx
humanfriendly
idna
jsonpatch
jsonpath-rw
jsonpointer
jsonschema
jsonschema-specifications
langchain-chroma
langchain-core
langchain-huggingface
langchain-text-splitters
markdown-it-py
mdurl
mpmath
multidict
mypy-extensions
numpy
oauthlib
onnxruntime
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
orjson
overrides
packaging
pillow
posthog
propcache
proto-plus
protobuf
psutil
pyasn1
pyasn1_modules
pybase64
pydantic
pydantic-settings
pydantic_core
Pygments
pyparsing
pypdf
PyPika
pyproject_hooks
pyreadline3
